
nav {
  margin: 5px;
  padding: ;
}

ul {
  list-style-type: none;
  margin: 5px 95px 5px 95px;
  padding: ;
  text-align: ;
  border-style: solid;
  background-color: #FFB4B0
}

li {
  list-style-type: none;
  display: inline;
}

h1 {
color: #785616
}

div {
  width: 250px;
  height: 335px;
  float: left;
  margin: 5px 2px 30px 95px;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-style: solid;
  border-color: black;
  background-color: #4DD7FA
}

article {
  width: 300px;
  float: right;
  margin: 5px 95px 30px 3px;
  padding-right: 30%;
  padding-left: 3%;
  display: inline;
  border-style: solid;
  background-color: #FEFAC0
}

