
ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  border-style: solid;
  background-color: #FFB4B0
}

li {
  list-style-type: none;
}

h1 {
color: #785616
}

div {
  width: 250px;
  float: left;
  margin: 5px;
  border-style: solid;
  border-color: black;
  background-color: #4DD7FA
}

article {
  width: 300px;
  float: right;
  margin: 5px;
  border-style: solid;
  background-color: #FEFAC0
}

